.menu-options{
    background-color: #242424;
    height: 100vh;
    z-index: 1;
}

.menu-options p{
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff;
}

.main-buttons{
    width: 85%;
    height: 80%;
    background-color: rgba(0, 255, 255, 0.452);
    position: absolute;
    top: 0;
}

.main-buttons .a-button{
    position: absolute;
    left: 0;
    bottom: 0;
}

.main-buttons .b-button{
    position: absolute;
    left: 45.5%;
    top: 30%;
}

.none-inp{
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
}